.container, body * {
    margin: 0;
} 

.game-card {       
    height: 100vh;
    font-family: 'Open Sans', monospace;
    display: flex;
}

.card {
    min-width: 50vh; 
    border: solid 1px #2fa4e7;
    background-color:  #afd8f050;
    border-radius: 0.5rem;

}

.card-header {      
    padding: 1rem;
    border-bottom: 1px solid #2fa4e7;
}

h3 {      
    padding: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
}

.card-body {       
    background-color:#fefefe;
}

.card-footer {     
    border-top: solid #2fa4e7 1px;
}

.btn-group {
    display: flex;
}

.btn {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: white;
}

.btn-info {             
    border: 1px solid #2fa4e7;
    background-color:  #2fa4e7;
}

.btn-success {         
    padding: 0.5rem 1.2rem;
    border: 1px solid #73a839;
    background-color:  #73a839;
}

.btn-link {           
    border: 1px solid #2fa4e7;
    background-color: white;
    color: #2fa4e7;
    padding: 1.2rem 2rem;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
}

.btn-info:hover {
    border: 1px solid #2fa4e7;
    color: #2fa4e7;
}

.btn-success:hover {
    background-color: white;
    color: #4CAF50;
}

.btn-link:hover {
    background-color: #2fa4e7; 
    color: white;
    text-decoration: none;
} 
